# CI 목적
# - Kotlin 코드 품질 검증 (detekt)
# - Android / Compose Lint 검사
# - 초기엔 빌드/테스트 제외

name: Android CI

# workflow 실행 제어
on:
  # push 또는 pull 요청에 대해서 워크플로우 트리거
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

  # Actions 탭에서 수동으로 실행할 수 있는 버튼 생성
  workflow_dispatch:

# 워크플로우 트리거 시 순차 또는 병렬로 실행될 작업 목록
jobs:
  # 'build'라는 이름을 가진 작업 (변경 가능)
  build:
    # 작업이 실행될 러너 (다른 러너: macos-latest, windows-latest)
    runs-on: ubuntu-latest
    # 최소 권한 원칙 - 읽기 권한 설정
    permissions:
      contents: read
    # 동일 브랜치에 대해 하나의 워크플로우만 실행되도록 설정
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    # 'build' 에서 실행될 태스크
    steps:
      # 깃허브 레포지토리 코드 가져오기. PR 기준 자동 적용
      - name: Checkout
        uses: actions/checkout@v6

      - name: SetupJDK
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 17

      # Github Actions 에서 ./gradlew 를 실행할 권한 부여
      - name: Make gradlew executable
        run: chmod +x ./gradlew

      # 빌드 시간 감소를 위한 캐시
      - name: Cache Gradle
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: gradle-${{ runner.os }}-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          # 정확한 캐시 매치가 없을 때 부분 캐시 사용
          restore-keys: |
            gradle-${{ runner.os }}-

      - name: Run detekt
        run: ./gradlew detekt

      - name: Run Android Lint
        run: ./gradlew lintDebug

      # 테스트 코드 작성 후 활성화
#      - name: Unit Test
#        run: ./gradlew testDebugUnitTest

      # 컴파일, 리소스 처리, 의존성 검증
      # release 브랜치 도입 후 활성화 고려
#      - name: Assemble Debug
#        run: ./gradlew assembleDebug
